# The base url for SWORD v2 on the server
SWORD_ENDPOINT=https://my.server.tld/sword/v2
# The API key to pass in the header
SWORD_APIKEY=6fGOk1WIU3lSKT7F
# Limit test deposits to this collection, or blank for all
SWORD_COLLECTION=
# Discover collections via XSL output, one-per-line
SWORD_COLLECTIONS_XSL=
# Want to pass extra options to curl, like -v or --no-check-cert ?
SWORD_CURL_OPTS=
